@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(212, 255, 255);
    color: rgb(2, 2, 102);
    font-family: 'Tourney', cursive;
    font-size: 16px;
    text-align: right;
}

header{
    height: 20vh;
    text-align: center;
    display: flex;
}

header h1{
    margin: auto;
    font-size: 2.5rem;
}

main{
    height: 80vh;
    justify-content: center;
}

.panel h3{
    margin-right: 5rem;
}

button{
    width: 8rem;
    height: 3rem;
    border-radius: 50px;
    border-style: none;
    font-family: monospace;
    color: royalblue;
    margin-right: 4rem;
    margin-top: 2rem;
}

.grid{
    display: grid;
    grid-template-columns: 320px 200px;
    justify-content: center;
}

.board{
    border: solid 5px;
}

.tetrimino{
    background-color: seashell;
}